body {
  font-family: Arial, sans-serif;
}

amp-story {
  background-color: #f8f8f8;
}

amp-story-page {
  position: relative;
}

h1 {
  font-size: 3em;
  color: #ffffff;
}

p {
  font-size: 1.5em;
  color: #ffffff;
}
